<div class="headerDiv">
	<h1 class="HeaderWelcome">
		Welcome {{name}}
	</h1>
   <div class="outer-content">
    <a class="pageLinks" href="/">Home</a>
		<a class="pageLinks" href="/professional">Professional</a>
		<a class="pageLinks" href="/hobbies">Hobbies</a>
		<a class="pageLinks" href="/traveled">Places Traveled</a>
  </div>
	<div class="links">
		<a class="pageLinks" href="/">Home</a>
		<a class="pageLinks" href="/professional">Professional</a>
		<a class="pageLinks" href="/hobbies">Hobbies</a>
		<a class="pageLinks" href="/traveled">Places Traveled</a>
	</div>
</div>