<h2>
Welcome {{name}}
</h2>
<a class="pageLinks" href="/">Home</a>
<a class="pageLinks" href="/professional">Professional</a>
<a class="pageLinks" href="/hobbies">Hobbies</a>
<a class="pageLinks" href="/traveled">Places Traveled</a>