<div class="headerDiv">
	<h1 class="HeaderWelcome">
		Welcome {{name}}
	</h1>
	<ul class="links">
	   <li><a class="pageLinks" href="/">Home</a></li>
	   <li><a class="pageLinks" href="/professional">Professional</a></li>
	   <li><a class="pageLinks" href="/hobbies">Hobbies</a></li>
	   <li><a class="pageLinks" href="/traveled">Places Traveled</a></li>
	</ul>
</div>