<h1>Please Create an account</h1>
<form action="">
   <fieldset>
	<label>Name: </label>
	<input type="text" name="Name" id="Name">
	<label>City Name: </label>
	<input type="text" name="cityName" id="cityName">
	<label>Zip Code: </label>
	<input type="text" name="zipCode" id="zipCode">
	<label>Country Code: </label>
	<input type="text" name="countryCode" id="countryCode">
	<input type="submit" id="sessionSubmit" value="sessionSubmit">
   </fieldset>
</form>