{{>header}}
<h1>Body</h1>
<button type="button" id = "back">Back</button>
<img name="carousel" width = 40%>
<button type="button" id = "forward">Forward</button>
<div style="width:30%;height:200px;line-height:3em;overflow:auto;padding:5px;">
 My name is Ian Cairns. I Live in Seattle, Washington. I moved to Seattle in the 8th grade. My family moved here from Maryland. I love skiing and mountain biking. I frequently take several trips up to Whistler to ski and mountain bike throughout the year. My wife and I just bought a house. We will close on the house on March 10. I am really looking forward to having a place of my own! The house is on the east side of Seattle, specifically woodenville. It is pretty close to Microsoft in Redmond and resonably close to Bellevue where Microsoft and soon Amazon have a ton of software engineering jobs. I am really excited to be in the degree and hopefully this will help me be a strong caditate in the software market here in Seattle. 
</div>
{{>footer}}
 <script src="home.js"></script>