{{>header}}
<h1>Body</h1>
<button type="button" id = "back">Back</button>
<img name="carousel" width = 50%>
<button type="button" id = "forward">Forward</button>
{{>footer}}
 <script src="home.js"></script>