{{>header}}
<h1>Body</h1>
<button type="button" id = "back">Back</button>
<img name="carousel" width = 50%>
<button type="button" id = "forward">Forward</button>
<div style="width:30%;height:200px;line-height:3em;overflow:auto;padding:5px;">
 My name is Ian Cairns. I Live in Seattle, Washington. I moved to Seattle in the 8th grade. My family moved here from Maryland. I love skiing and mountain biking. I frequently take several trips up to Whistler to ski and mountain bike throughout the year. My wife and I just bought a house. We will close on the house on March 10. I am really looking forward to having a place of my own! 
</div>
{{>footer}}
 <script src="home.js"></script>