{{>header}}
<h1>Professional</h1>
<div style="width:30%;height:200px;line-height:3em;overflow:auto;padding:5px;">
 
</div>

<button type="submit" onclick="window.open('files/Resume.pdf')">Download my resume!</button>
<p>Visit my <a href="https://www.linkedin.com/in/ian-cairns-b6636098" target="_blank">Linkedin</a></p>
{{>footer}}