{{>header}}
<h1>Professional</h1>
<p>
<a href="files/Resume.pdf" download>Download</a>
 my resume
 </p>
<form method="get" action="files/Resume.pdf">
   <button type="submit">Download!</button>
</form>
<button type="submit" onclick="window.open('file.doc')">Download!</button>
{{>footer}}