{{>header}}
<h1>Professional</h1>
<button type="submit" onclick="window.open('files/Resume.pdf')">Download my resume!</button>
<p>Visit my <a href="https://www.linkedin.com/in/ian-cairns-b6636098">Linkedin</a></p>
{{>footer}}