.error{
	 color: red;
 }

#carouselTitle{
	margin-left:30%
}
#carousel{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
#back{
  margin-left: 40%;
  width: 10%;
}
#forward{
  width: 10%;
}
#aboutMe{
	margin-left: 35%;
	text-decoration: underline;
}
#scroll{
	width:30%;
	height:250px;
	line-height:3em;
	overflow:auto;
	padding:5px;
	margin-left:35%;
}
 
 .pageLinks
{
    display: inline;
	padding: 10px;
	background-color: #b3ff66;
	text-align: center;
	margin:auto;

}
 
 .HeaderWelcome{
    text-align: center;
 }
 
.outer-content{
	background-color: #b3ff66;
	width: 100%;
	margin-top:20px;
	padding: 10px;
}
