.error{
	 color: red;
 }-
 
 .links{
	background-color: #b3ff66;
	width: 75%;
	margin-top:20px;
	padding: 10px;
 }
 
 .pageLinks
{
    display: inline;
	padding: 10px;
	background-color: #b3ff66;
	text-align: center;
	margin:auto;

}
 
 .HeaderWelcome{
    text-align: center;
 }
 
.outer-content{
	background-color: #b3ff66;
	width: 100%;
	margin-top:20px;
	padding: 10px;
}
.inner-content{
	background-color: blue;
	width: 75%;
	text-align: center;
	margin:auto;
}